@using SahibimdenMvc.Models.AdminModels
@model AdminViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-10" id="cerceve">
    <h1 style="text-align:center">Admin Paneline Hoşgeldiniz</h1>
    <p id="icerik"></p>
</div>

<div class="modal fade" id="markaEkle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Marka Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.Label("Marka")
                    @Html.TextBoxFor(a => a.Araba.Ad, new { @class = "form-control", @id = "markaEkleAd" })
                    <label id="lblMarkaBos" style="display:none;color:red">Marka Alanı Boş Geçilemez</label>
                </div>    
                <input type="submit" name="btnMarkaEkle" value="Ekle" class="btn btn-success" onclick="return markaEkle()" />
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="markaDuzenle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Markayı Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.Label("Marka")
                    @Html.TextBoxFor(a => a.Araba.Ad, new { @class = "form-control", @id = "markaDuzenleAd" })
                    <label id="lblMarkaDuzenleBos" style="display:none;color:red">Marka Alanı Boş Geçilemez</label>
                </div>               
                <input type="submit" name="btnMarkaDuzenle" value="Düzenle" class="btn btn-success" onclick="return markaDuzenle()" />
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="seriEkle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seri Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">          
                    <div class="form-group">
                        @Html.Label("Marka Seçin")
                        <br />
                        <select class="form-control" id="markaseriekle" name="markaseriekle">                           
                        </select>
                    </div>                 
                    <div class="form-group">
                        @Html.Label("Seri")
                        @Html.TextBoxFor(a => a.Araba.Ad, new { @class = "form-control", @id = "seriEkleAd" })
                        <label id="lblSeriEkleBos" style="display:none;color:red">Seri Alanı Boş Geçilemez</label>
                    </div>
                    <input type="submit" name="btnSeriEkle" value="Seri Ekle" class="btn btn-success" onclick="seriEkle()" />        
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="seriDuzenle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seri Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.Label("Marka Seçin")
                    <br />
                    <select class="form-control" id="markaseriduzenle" name="markaseriduzenle">
                    </select>
                </div>
                <div class="form-group">
                    @Html.Label("Seri")
                    @Html.TextBoxFor(a => a.Araba.Ad, new { @class = "form-control", @id = "seriDuzenleAd" })
                    <label id="lblSeriDuzenleBos" style="display:none;color:red">Seri Alanı Boş Geçilemez</label>
                </div>
                <input type="submit" name="btnSeriDuzenle" value="Seriyi Güncelle" class="btn btn-success" onclick="seriDuzenle()" />
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/MyScripts/myscripts.js"></script>
    <script>
        function seriListele() {
            $.ajax({
                url: "/Admin/MSM/SerilerVeMarka",
                method: "Get",
                success: function (data) {
                    $("#icerik").find("table").remove();
                    var txt = "";
                    txt += "<table id='marka' class='table table-striped'>";
                    txt += "<tr><th> Model Adı </th>";
                    txt += "<th> İşlemler </th></tr>";
                    for (var i = 0; i < data.length; i++) {
                        var id = data[i].ArabaId;
                        var markaAd = data[i].Ad;
                        var ustKategori = data[i].UstKategori;
                        if (data[i].UstKategori == 0) {
                            txt += "<tr><th colspan='2' style='font-size:20px'>" + markaAd + "</th></tr>";
                        } else {
                            txt += "<tr><td>" + markaAd + "</td>";
                            txt += "<td><a href='#seriDuzenle' data-toggle='modal' class='btn btn-sm btn-primary' onclick=markaGetirDuzenle(" + id + ",'" + markaAd + "'," + ustKategori + ")>Duzenle</a> "
                            txt += "<a href='#' class='btn btn-sm btn-danger' onclick=seriSil(" + id + ")>Sil</a> </td></tr>"
                        }
                    }
                    txt += "</table>"
                    $("#icerik").append(txt);

                }, error: function () {
                    console.log("basarisiz");
                }
            });
        }

        function markaGetir() {
            $.ajax({
                url: "/Admin/MSM/Markalar",
                method: "Get",
                success: function (data) {
                    $("#markaseriekle").find("option").remove();
                    for (var i = 0; i < data.length; i++) {
                        var id = data[i].ArabaId;
                        var markaAd = data[i].Ad;
                        $("#markaseriekle").append("<option value='" + id + "'>" + markaAd + "</option>");
                    }
                }, error: function () {
                    console.log("basarisiz");
                }
            });
        }

        function seriEkle() {
            var hatayok = true;
            if ($("#seriEkleAd").val().trim() == "") {
                $("#lblSeriEkleBos").show();
                hatayok = false;
            } else {
                $.ajax(
                    {
                        url: "/Admin/MSM/SeriEkle",
                        method: "Post",
                        data: {
                            Ad: $("#seriEkleAd").val(),
                            UstKategori: $("#markaseriekle").val()
                        }, success: function (data) {
                            if (data == "True") {
                                $("#seriEkleAd").val("");
                                $("#lblSeriEkleBos").hide();
                                alert("Seri Eklendi !!!");
                            } else {
                                alert("Seri Eklemede Hata !!!");
                            }
                        }, error: function (data) {
                            alert("Bir Hata Oluştu !!!");
                        }
                    });
            }
            return hatayok;
        }

        function seriSil(id) {
            if (confirm("Silmeyi Onaylıyor Musunuz")) {
                $.ajax(
                    {
                        url: "/Admin/MSM/SeriSil",
                        method: "Post",
                        data: {
                            id: id
                        }, success: function (data) {
                            if (data == "True") {
                                alert("Seri Silindi !!!");
                                seriListele();
                            } else {
                                alert("Seri Silinemedi !!!");
                            }
                        }, error: function (data) {
                            alert("Bir Hata Oluştu!!!");
                        }
                    });
            } else {
                alert("İşlem İptal Edildi !!!");
            }
        }

        var seriId;
        var selectMarka;
        function markaGetirDuzenle(id, markaAd, ustKategori) {
            selectMarka = markaAd;
            seriId = id;
            $.ajax({
                url: "/Admin/MSM/Markalar",
                method: "Get",
                success: function (data) {
                    $("#markaseriduzenle").find("option").remove();
                    for (var i = 0; i < data.length; i++) {
                        var id = data[i].ArabaId;
                        var markaAd = data[i].Ad;
                        $("#markaseriduzenle").append("<option value='" + id + "'>" + markaAd + "</option>");
                    }
                    //$("#markaseriduzenle").find('option[value=""+ +""]').attr('selected', 'selected')
                    $("#markaseriduzenle").val(ustKategori);
                    $("#seriDuzenleAd").val(selectMarka);
                }, error: function () {
                    console.log("basarisiz");
                }
            });
        }     

        function seriDuzenle() {
            var hatayok = true;
            if ($("#seriDuzenleAd").val().trim() == "") {
                $("#lblSeriDuzenleBos").show();
                hatayok = false;
            } else {
                $.ajax(
                    {
                        url: "/Admin/MSM/SeriGuncelle",
                        method: "Post",
                        data: {
                            ArabaId: seriId,
                            Ad: $("#seriDuzenleAd").val(),
                            UstKategori: $("#markaseriduzenle").val()
                        }, success: function (data) {
                            if (data == "True") {
                                $("#lblSeriDuzenleBos").hide();
                                alert("Seri Güncellendi !!!");
                            } else {
                                alert("Seri Güncellemede Hata !!!");
                            }
                        }, error: function (data) {
                            alert(data);
                        }
                    });
            }
            return hatayok;
        }
    </script>
}

