@using SahibimdenMvc.Models.AdminModels
@model AdminViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-10" id="cerceve">
    <h1 style="text-align:center">Admin Paneline Hoşgeldiniz</h1>
    <p id="icerik"></p>
</div>

<div class="modal fade" id="markaEkle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Marka Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.Label("Marka")
                    @Html.TextBoxFor(a => a.Araba.Ad, new { @class = "form-control", @id = "markaEkleAd" })
                    <label id="lblMarkaBos" style="display:none;color:red">Marka Alanı Boş Geçilemez</label>
                </div>
                <input type="submit" name="btnMarkaEkle" value="Ekle" class="btn btn-success" onclick="return markaEkle()" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="markaDuzenle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Markayı Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.Label("Marka")
                    @Html.TextBoxFor(a => a.Araba.Ad, new { @class = "form-control", @id = "markaDuzenleAd" })
                    <label id="lblMarkaDuzenleBos" style="display:none;color:red">Marka Alanı Boş Geçilemez</label>
                </div>
                <input type="submit" name="btnMarkaDuzenle" value="Düzenle" class="btn btn-success" onclick="return markaDuzenle()" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="seriEkle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seri Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.Label("Marka Seçin")
                    <br />
                    <select class="form-control" id="markaseriekle" name="markaseriekle">
                    </select>
                </div>
                <div class="form-group">
                    @Html.Label("Seri")
                    @Html.TextBoxFor(a => a.Araba.Ad, new { @class = "form-control", @id = "seriEkleAd" })
                    <label id="lblSeriEkleBos" style="display:none;color:red">Seri Alanı Boş Geçilemez</label>
                </div>
                <input type="submit" name="btnSeriEkle" value="Seri Ekle" class="btn btn-success" onclick="seriEkle()" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="seriDuzenle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seriyi Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.Label("Marka Seçin")
                    <br />
                    <select class="form-control" id="markaseriduzenle" name="markaseriduzenle">
                    </select>
                </div>
                <div class="form-group">
                    @Html.Label("Seri")
                    @Html.TextBoxFor(a => a.Araba.Ad, new { @class = "form-control", @id = "seriDuzenleAd" })
                    <label id="lblSeriDuzenleBos" style="display:none;color:red">Seri Alanı Boş Geçilemez</label>
                </div>
                <input type="submit" name="btnSeriDuzenle" value="Seriyi Güncelle" class="btn btn-success" onclick="seriDuzenle()" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modelEkle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modeli Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.Label("Marka Seçin")
                    <br />
                    <select class="form-control" id="markamodelekle" name="markamodelekle" onchange="seriFiltrele()">
                    </select>
                </div>
                <div class="form-group">
                    @Html.Label("Seri Seçin")
                    <br />
                    <select class="form-control" id="serimodelekle" name="serimodelekle">
                    </select>
                    <label id="lblModelEkleSeriBos" style="display:none;color:red">Seri Seçimi Zorunludur</label>
                </div>
                <div class="form-group">
                    @Html.Label("Seri")
                    @Html.TextBoxFor(a => a.Araba.Ad, new { @class = "form-control", @id = "modelEkleAd" })
                    <label id="lblModelEkleBos" style="display:none;color:red">Model Alanı Boş Geçilemez</label>
                </div>
                <input type="submit" name="btnModelEkle" value="Model Ekle" class="btn btn-success" onclick="modelEkle()" />
            </div>        
        </div>
    </div>
</div>

<div class="modal fade" id="modelDuzenle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Model Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.Label("Marka Seçin")
                    <br />
                    <select class="form-control" id="markamodelduzenle" name="markamodelduzenle" onchange="seriFiltreleDuzenle()">
                    </select>
                </div>
                <div class="form-group">
                    @Html.Label("Seri Seçin")
                    <br />
                    <select class="form-control" id="serimodelduzenle" name="serimodelduzenle">
                    </select>
                    <label id="lblModelDuzenleSeriBos" style="display:none;color:red">Seri Seçimi Zorunludur</label>
                </div>
                <div class="form-group">
                    @Html.Label("Seri")
                    @Html.TextBoxFor(a => a.Araba.Ad, new { @class = "form-control", @id = "modelDuzenleAd" })
                    <label id="lblModelDuzenleBos" style="display:none;color:red">Model Alanı Boş Geçilemez</label>
                </div>
                <input type="submit" name="btnModelDuzenle" value="Modeli Güncelle" class="btn btn-success" onclick="modelDuzenle()" />
            </div>        
        </div>
    </div>
</div>

<div class="modal fade" id="duyuruEkle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Duyuru Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.TextAreaFor(d => d.Duyuru.Mesaj, new { @id = "editor1" })
                    <label id="lblDuyuruBos" style="display:none;color:red">Duyuru Alanı Boş Geçilemez</label>
                </div>
                <input type="submit" name="btnDuyuruEkle" value="Duyuruyu Yayınla" class="btn btn-success" onclick="duyuruEkle()" />
            </div>        
        </div>
    </div>
</div>

<div class="modal fade" id="duyuruGoruntule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Duyuru</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="pagination">
                <div class="modal-body" id="duyuruIcerik">

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/MyScripts/myscripts.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">
        function editorAc() {
               var editor = CKEDITOR.instances['editor1'];
                 if (editor) { editor.destroy(true); }
                 CKEDITOR.replace('editor1', {
                  enterMode: CKEDITOR.ENTER_BR,
               });
            CKFinder.setupCKEditor(null, '@Url.Content("~/ckeditor/ckfinder/")');
        }

        function duyuruEkle() {

            var duyuru = CKEDITOR.instances['editor1'].getData();

                $.ajax({
                    url: "/Admin/Duyuru/DuyuruEkle",
                    method: "Post",
                    data: {
                        message: duyuru
                    },
                    success: function (data) {
                        alert("Duyuru Yayınlandı")
                        $("#lblDuyuruBos").hide();
                        CKEDITOR.instances['editor1'].setData("")
                    }, error: function () {

                    }
                });

        }

        function duyuruListele() {
            $.ajax({
                url: "/Admin/Duyuru/DuyuruListele",
                method: "Get",
                success: function (data) {
                    $("#icerik").find("table").remove();
                    var txt = "";
                    txt += "<table id='duyurular' class='table table-bordered' style='width:100%;table-layout:fixed'>";
                    txt += "<tr><th> Tarih </th>";
                    txt += "<th> Duyuru </th>";
                    txt += "<th> İşlemler </th></tr>";
                    for (var i = 0; i < data.length; i++) {
                        var id = data[i].DuyuruId;
                        var duyuru = data[i].Mesaj;
                        var tarih = data[i].Tarih;
                        txt += "<tr><td>" + tarih + "</td>";
                        txt += "<td style='overflow:hidden;text-overflow:ellipsis;white-space:nowrap'>" + duyuru + "</td>";
                        txt += "<td><a href='#duyuruGoruntule' data-toggle='modal' class='btn btn-md btn-primary' onclick=duyuruGoruntule(" + id + ")>İncele</a> "
                        txt += "<a href='#' class='btn btn-md btn-danger' onclick=duyuruSil(" + id + ")>Sil</a> </td></tr>"
                    }
                    txt += "</table>"
                    $("#icerik").append(txt);
                }, error: function () {
                    console.log("basarisiz");
                }
            });
        }

        function duyuruSil(id) {
            if (confirm("Duyuruyu silmek istiyor musunuz?")) {
                $.ajax({
                    url: "/Admin/Duyuru/DuyuruSil",
                    method: "Post",
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data) {
                            if (data == "True") {
                                alert("Silindi");
                                duyuruListele();
                            } else {
                                alert("Silinemedi");
                            }
                        }
                    }
                })
            }
        }

        function duyuruGoruntule(id) {

                $.ajax({
                    url: "/Admin/Duyuru/DuyuruGoruntule",
                    method: "Post",
                    data: {
                        id: id
                    },
                    success: function (data) {
                        $("#duyuruIcerik").find("p").remove();
                        var txt = "<p style='word-wrap:break-word;max-width:500px'>" + data + "</p>"
                        $("#duyuruIcerik").append(txt);
                    }
                })

        }
    </script>
}

